USE [master]
GO
/****** Object:  Database [MARKDOWNPOST]    Script Date: 29/03/2023 22:47:44 ******/
CREATE DATABASE [MARKDOWNPOST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MARKDOWNPOST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\MARKDOWNPOST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MARKDOWNPOST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\MARKDOWNPOST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MARKDOWNPOST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MARKDOWNPOST]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 29/03/2023 22:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[ID] [int] NOT NULL,
	[POST_TEXT] [nvarchar](max) NOT NULL,
	[DATE_POSTED] [datetime] NOT NULL,
 CONSTRAINT [PK_POST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
